<!-- <div class="home-callout text-center container-fluid">
  <h1>Welcome to the Home Page!<h1>
  <h3>Something belongs here.<h3>
</div> -->

<div id="slide1">
  <div class="content">
    <h2>I see you.</h2>
  </div>
</div>


<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">I love to get pets. Only when I ask for pets.</h3>
      <h4 class="name-dark">- Ninja</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h2>O_O</h2>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Gimme food. Oh, so tired -_-. o_o I need pets!</h3>
      <h4 class="name-dark">- Dojo</h4>
    </div>
  </div>
</div>
